# Database
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=yourpassword
DB_NAME=your_db

# Paths
INPUT_FOLDER=./data
OUTPUT_FOLDER=./output
url=''
# Threading
MAX_WORKERS=5
BATCH_SIZE=500

# Optional
LOG_LEVEL=INFO